header {
    padding-top: 30px;
    padding-bottom: 30px;
    // background-color: lightgrey;
    img {
        width: 395px;
        height: 65px;
        background-color: #fffdf8;
    }
}

// #e5ddd3